header {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  margin-bottom: 2em;
  justify-content: space-between;
  align-items: center;
}

header a {
  text-decoration: none;
  color: #f5f4f4;
}

header ul {
  display: flex; /* Add this */
  flex-direction: row; /* Add this */
  gap: 1.5em; /* Add spacing between menu items */
  list-style: none;
  font-size: 1em;
  font-weight: 400;
}

.left {
  justify-self: flex-start;
  margin-left: 1em;
}

.right {
  display: flex;
  margin-right: 1em;
}
